@model List<SelectedMembers>

<h1>Time</h1>

 <table style="table-layout: fixed; width: 100%;">
        <tr>
            <th colspan="12" style="font-weight:bold">Membros selecionados</th>
        </tr>
        <tr>
            @foreach (SelectedMembers member in Model)
            {
                <td style="text-align:center" colspan="4">
                            <a asp-controller="Character" asp-action="Details" asp-route-Id="@member.Character.CharacterId"><img src="@Html.DisplayFor(x => member.Character.Icon)" width="80" height="80"/></a>
                        <br/>
                        <a asp-controller="Character" asp-action="Details" asp-route-Id="@member.Character.CharacterId">@member.Character.Name</a>
                        <br/>
                        <a asp-controller="Selection" asp-action="RemoverMembro" asp-route-CharacterId="@member.Character.CharacterId" class="btn btn-danger">Remover</a>
                </td>
            }
        </tr>
</table>
<br/>
<div>
    @if (Model.Count == 3)
    {
        <a asp-controller="Home" asp-action="Index" class="btn btn-success">Salvar Time</a>
    }
    else
    {
             <a asp-controller="Character" asp-action="List" class="btn btn-primary">Voltar a selação</a>
    }
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>