@model List<Team>

<div>
    <h1>Meus times</h1>
    <table style="table-layout: fixed; width: 100%;">
        @foreach(Team team in Model)
        { 

            <tr>
                <th colspan="12" style="font-weight:bold">@team.Name</th>
            </tr>
            <tr>
                @foreach (var member in Model.SelectMany(x => x.Members))
                {
                                        <td style="text-align:center" colspan="4">
                                                <a asp-controller="Character" asp-action="Details" asp-route-Id="@member.Character.CharacterId"><img src="@Html.DisplayFor(x => member.Character.Icon)" width="80" height="80"/></a>
                                                <br/>
                                                <a asp-controller="Character" asp-action="Details" asp-route-Id="@member.Character.CharacterId">@member.Character.Name</a>
                                                <br/>
                                                <a asp-controller="Selection" asp-action="RemoverMembro" asp-route-CharacterId="@member.Character.CharacterId" class="btn btn-danger">Remover</a>
                                        </td>
                }
            </tr>
        }
    </table>
</div>

