@model IEnumerable<FighteR_PG.Models.Sex>

@{
    ViewData["Title"] = "Sexos ";
}

<h1>Sexos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SexCharacter)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SexCharacter)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SexId" class="btn btn-warning">Editar</a> 
                <a asp-action="Details" asp-route-id="@item.SexId" class="btn btn-info">Detalhes</a> 
                <a asp-action="Delete" asp-route-id="@item.SexId" class="btn btn-danger">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>

 <p>
    <a asp-action="Create" class="btn btn-primary">Criar novo</a>
    <a asp-area="admin" asp-controller="AdminHome" asp-action="Index" class="btn btn-secondary">Voltar</a>
</p>