@model FighteR_PG.Models.Character

@{
    ViewData["Title"] = "Detalhes ";
}

<h1>Detalhes</h1>


<div>
    <h4>Personagem</h4>
    <hr />
    <div class="row">
        <div class="col-2">
            <img src="@Html.DisplayFor(model => model.Image)" weight="150" height="300" />
        </div>
    </div>
    <div class="row">
        <div class="col-2" style="text-align:Center;font-size:30px;font-weight:bold">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>
    <div class="row">
        <div class="col-1" style="font-weight:bold">
            @Html.DisplayNameFor(model => model.Specie)
        </div>
        <div class="col-1">
            @Html.DisplayFor(model => model.Specie)
        </div>
        <div class="col-1" style="font-weight:bold">
            @Html.DisplayNameFor(model => model.Age)
        </div>
        <div class="col-1">
            @Html.DisplayFor(model => model.Age)
        </div>
        <div class="col-1" style="font-weight:bold">
            @Html.DisplayNameFor(model => model.Sex)
        </div>
        <div class="col-1">
            @Html.DisplayFor(model => model.Sex.SexCharacter)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-1" style="font-weight:bold">
            @Html.DisplayNameFor(model => model.Height)
        </div>
        <div class="col-1">
            @Html.DisplayFor(model => model.Height)
        </div>
        <div class="col-1" style="font-weight:bold">
            @Html.DisplayNameFor(model => model.Weight)
        </div>
        <div class="col-1">
            @Html.DisplayFor(model => model.Weight)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-1" style="font-weight:bold">
            @Html.DisplayNameFor(model => model.Likes)
        </div>
        <div class="col-1">
            @Html.DisplayFor(model => model.Likes)
        </div>
        <div class="col-1" style="font-weight:bold">
            @Html.DisplayNameFor(model => model.Dislikes)
        </div>
        <div class="col-1">
            @Html.DisplayFor(model => model.Dislikes)
        </div>
        <div class="col-1" style="font-weight:bold">
            @Html.DisplayNameFor(model => model.Hobbie)
        </div>
        <div class="col-1">
            @Html.DisplayFor(model => model.Hobbie)
        </div>
        <div class="col-1" style="font-weight:bold">
            @Html.DisplayNameFor(model => model.Food)
        </div>
        <div class="col-1">
            @Html.DisplayFor(model => model.Food)
        </div>
    </div>
    <div class="row">
        <div class="col-2" style="font-weight:bold">
            @Html.DisplayNameFor(model => model.Curiosity)
        </div>
        <div class="col-10">
            @Html.DisplayFor(model => model.Curiosity)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-2" style="font-weight:bold">
            @Html.DisplayNameFor(model => model.Background)
        </div>
        <div class="col-10">
            @Html.DisplayFor(model => model.Background)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-2" style="font-weight:bold">
            @Html.DisplayNameFor(model => model.Conclusao)
        </div>
        <div class="col-10">
            @Html.DisplayFor(model => model.Conclusao)
        </div>
    </div>
     <div class="row">
        <div class="col-2" style="font-weight:bold">
            @Html.DisplayNameFor(model => model.Ideias)
        </div>
        <div class="col-10">
            @Html.DisplayFor(model => model.Ideias)
        </div>
    </div>
</div>

<div>
    <h4>Combate</h4>
    <hr />
    <div class="row" style="font-weight:bold">
        @Html.DisplayNameFor(model => model.Class)
    </div>
    <div class="row">
        <div class="col-2">
            <img src="  @Html.DisplayFor(model => model.Icon)" height="100" />
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            @Html.DisplayFor(model => model.Class)
        </div>
    </div>
    <div class="row">
        <div class="col-1" style="font-weight:bold">
            @Html.DisplayNameFor(model => model.Weapon)
        </div>
        <div class="col-2">
            @Html.DisplayFor(model => model.Weapon)
        </div>
    </div>
    <div class="row">
        <div class="col-1" style="font-weight:bold">
            @Html.DisplayNameFor(model => model.Archetype)
        </div>
        <div class="col-11">
            @Html.DisplayFor(model => model.Archetype.Name)
        </div>
    </div>
    <div class="row">
        <div class="col-1" style="font-weight:bold">
            @Html.DisplayNameFor(model => model.Fury)
        </div>
        <div class="col-11">
            @Html.DisplayFor(model => model.Fury)
        </div>
    </div>
    <div class="row">
        <div class="col-1" style="font-weight:bold">
            @Html.DisplayNameFor(model => model.Hit01)
        </div>
        <div class="col-1">
            @Html.DisplayFor(model => model.Hit01)
        </div>
    </div>
    <div class="row">
        <div class="col-1" style="font-weight:bold">
            @Html.DisplayNameFor(model => model.Hit02)
        </div>
        <div class="col-1">
            @Html.DisplayFor(model => model.Hit02)
        </div>
    </div>
    <br />
    <table>
        <tr> <th colspan="12" style="font-weight:bold">Combos</th></tr>
        <tr>
            <th>
                <div class="col-7" style="font-weight:bold">
                    <img src="@Html.DisplayFor(model => model.StandComboImage01)" />
                </div>
            </th>
            <td>
                <div class="col-5">
                    @Html.DisplayFor(model => model.StandCombo01)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="col-7" style="font-weight:bold">
                    <img src="@Html.DisplayFor(model => model.StandComboImage02)" />
                </div>
            </th>
            <td>
                <div class="col-5">
                    @Html.DisplayFor(model => model.StandCombo02)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="col-7" style="font-weight:bold">
                    <img src="@Html.DisplayFor(model => model.WalkingComboImage01)" />
                </div>
            </th>
            <td>
                <div class="col-5">
                    @Html.DisplayFor(model => model.WalkingCombo01)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="col-7" style="font-weight:bold">
                    <img src="@Html.DisplayFor(model => model.WalkingComboImage02)" />
                </div>
            </th>
            <td>
                <div class="col-5">
                    @Html.DisplayFor(model => model.WalkingCombo02)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="col-7" style="font-weight:bold">
                    <img src="@Html.DisplayFor(model => model.RunningComboImage01)" />
                </div>
            </th>
            <td>
                <div class="col-5">
                    @Html.DisplayFor(model => model.RunningCombo01)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="col-7" style="font-weight:bold">
                    <img src="@Html.DisplayFor(model => model.RunningComboImage02)" />
                </div>
            </th>
            <td>
                <div class="col-5">
                    @Html.DisplayFor(model => model.RunningCombo02)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="col-7" style="font-weight:bold">
                    <img src="@Html.DisplayFor(model => model.JumpComboImage01)" />
                </div>
            </th>
            <td>
                <div class="col-5">
                    @Html.DisplayFor(model => model.JumpCombo01)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="col-7" style="font-weight:bold">
                    <img src="@Html.DisplayFor(model => model.JumpComboImage02)" />
                </div>
            </th>
            <td>
                <div class="col-5">
                    @Html.DisplayFor(model => model.JumpCombo02)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="col-7" style="font-weight:bold">
                    <img src="@Html.DisplayFor(model => model.RunningJumpComboImage01)" />
                </div>
            </th>
            <td>
                <div class="col-5">
                    @Html.DisplayFor(model => model.RunningJumpCombo01)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="col-7" style="font-weight:bold">
                    <img src="@Html.DisplayFor(model => model.RunningJumpComboImage02)" />
                </div>
            </th>
            <td>
                <div class="col-5">
                    @Html.DisplayFor(model => model.RunningJumpCombo02)
                </div>
            </td>
        </tr>
    </table>
    <br />
    <table>
        <tr>
            <th colspan="12" style="font-weight:bold">Skills</th>
        </tr>
        <tr>
            <td style="text-align:center" ; colspan="2">
                <img src="@Html.DisplayFor(model => model.SkilImage01)" />
            </td>
            <td style="text-align:center" ; colspan="2">
                <img src="@Html.DisplayFor(model => model.SkilImage02)" />
            </td>
            <td style="text-align:center" ; colspan="2">
                <img src="@Html.DisplayFor(model => model.SkilImage03)" />
            </td>
            <td style="text-align:center" ; colspan="2">
                <img src="@Html.DisplayFor(model => model.SkilImage04)" />
            </td>
            <td style="text-align:center" ; colspan="2">
                <img src="@Html.DisplayFor(model => model.SkilImage05)" />
            </td>
            <td style="text-align:center" ; colspan="2">
                <img src="@Html.DisplayFor(model => model.SkilImage06)" />
            </td>
        </tr>
        <tr>
            <th colspan="2">
                @Html.DisplayFor(model => model.SkilName01)
            </th>
            <th colspan="2">
                @Html.DisplayFor(model => model.SkilName02)
            </th>
            <th colspan="2">
                @Html.DisplayFor(model => model.SkilName03)
            </th>
            <th colspan="2">
                @Html.DisplayFor(model => model.SkilName04)
            </th>
            <th colspan="2">
                @Html.DisplayFor(model => model.SkilName05)
            </th>
            <th colspan="2">
                @Html.DisplayFor(model => model.SkilName06)
            </th>
        </tr>
        <tr>
            <td colspan="2">
                @Html.DisplayFor(model => model.SkilDesc01)
            </td>
            <td colspan="2">
                @Html.DisplayFor(model => model.SkilDesc02)
            </td>
            <td colspan="2">
                @Html.DisplayFor(model => model.SkilDesc03)
            </td>
            <td colspan="2">
                @Html.DisplayFor(model => model.SkilDesc04)
            </td>
            <td colspan="2">
                @Html.DisplayFor(model => model.SkilDesc05)
            </td>
            <td colspan="2">
                @Html.DisplayFor(model => model.SkilDesc06)
            </td>
        </tr>
        <tr>
            <td style="text-align:center" ; colspan="2">
                <img src="@Html.DisplayFor(model => model.SkilImage07)" />
            </td>
            <td style="text-align:center" ; colspan="2">
                <img src="@Html.DisplayFor(model => model.SkilImage08)" />
            </td>
            <td style="text-align:center" ; colspan="2">
                <img src="@Html.DisplayFor(model => model.SkilImage09)" />
            </td>
            <td style="text-align:center" ; colspan="2">
                <img src="@Html.DisplayFor(model => model.SkilImage10)" />
            </td>
            <td style="text-align:center" ; colspan="2">
                <img src="@Html.DisplayFor(model => model.SkilImage11)" />
            </td>
            <td style="text-align:center" ; colspan="2">
                <img src="@Html.DisplayFor(model => model.SkilImage12)" />
            </td>
        </tr>
        <tr>
            <th colspan="2">
                @Html.DisplayFor(model => model.SkilName07)
            </th>
            <th colspan="2">
                @Html.DisplayFor(model => model.SkilName08)
            </th>
            <th colspan="2">
                @Html.DisplayFor(model => model.SkilName09)
            </th>
            <th colspan="2">
                @Html.DisplayFor(model => model.SkilName10)
            </th>
            <th colspan="2">
                @Html.DisplayFor(model => model.SkilName11)
            </th>
            <th colspan="2">
                @Html.DisplayFor(model => model.SkilName12)
            </th>
        </tr>
        <tr>
            <td colspan="2">
                @Html.DisplayFor(model => model.SkilDesc07)
            </td>
            <td colspan="2">
                @Html.DisplayFor(model => model.SkilDesc08)
            </td>
            <td colspan="2">
                @Html.DisplayFor(model => model.SkilDesc09)
            </td>
            <td colspan="2">
                @Html.DisplayFor(model => model.SkilDesc10)
            </td>
            <td colspan="2">
                @Html.DisplayFor(model => model.SkilDesc11)
            </td>
            <td colspan="2">
                @Html.DisplayFor(model => model.SkilDesc12)
            </td>
        </tr>
    </table>
    <br />
    <table>
        <tr>
            <td style="text-align:center"; colspan="1">
                <img src="@Html.DisplayFor(model => model.SpecialImage01)" />
                <br />
                @Html.DisplayFor(model => model.Special01)
            </td>
           <td colspan="11">
                 @Html.DisplayFor(model => model.SpecialDesc01)
            </td>
        </tr> 
        <tr>
            <td style="text-align:center"; colspan="1">
                <img src="@Html.DisplayFor(model => model.SpecialImage02)" />
                <br />
                @Html.DisplayFor(model => model.Special02)
            </td>
           <td colspan="11">
                 @Html.DisplayFor(model => model.SpecialDesc02)
            </td>
        </tr>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CharacterId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
