@model FighteR_PG.Models.Boss

@{
    ViewData["Title"] = "Detalhes ";
}

<h1>Detalhes</h1>

<div>
    <h4>Chefe</h4>
    <hr />
    <div class="row">
        <div class="col-1">
            <img src="@Html.DisplayFor(model => model.Image)" />
        </div>
    </div>
    <div class="row">
        <div class="col-1" style="font-weight:bold">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>
    <div class="row">
        <div class="col-1" style="font-weight:bold">
            @Html.DisplayNameFor(model => model.Sex)
        </div>
        <div class="col-1">
            @Html.DisplayFor(model => model.Sex.SexCharacter)
        </div>
    </div>
    <div class="row">
    </div>
    <div class="row">
        <div class="col-1" style="font-weight:bold">
            @Html.DisplayNameFor(model => model.Region)
        </div>
        <div class="col-1">
            @Html.DisplayFor(model => model.Region)
        </div>
        <div class="col-10">
            <img src="@Html.DisplayFor(model => model.RegionImage)" />
        </div>
    </div>
    <div class="row">
        <div class="col-1" style="font-weight:bold">
            @Html.DisplayNameFor(model => model.GerneralText)
        </div>
        <div class="col-11">
            @Html.DisplayFor(model => model.GerneralText)
        </div>
    </div>
</div>
<br />
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BossId" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>
