@model IEnumerable<FighteR_PG.Models.Boss>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegionImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GerneralText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
               <img src="@Html.DisplayFor(modelItem => item.Image)">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
               <img src="@Html.DisplayFor(modelItem => item.RegionImage)">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GerneralText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex.SexCharacter)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BossId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BossId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BossId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
